<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slogan.wristband.wristband">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.WristbandApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_white"
        android:label="@string/app_name"
        android:maxAspectRatio="2.2"
        android:roundIcon="@drawable/logo_white"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.veclink.hw.bleservice.VLBleService"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="com.veclink.hw.bleservice.VLBleServic" />
            </intent-filter>
        </service>
        <service
            android:name="com.veclink.healthy.photo.RecordService"
            android:enabled="true" />

        <!-- CySmartOta  这段配置仅为芯片为赛普拉丝芯片 ota 使用，如果设备不是此芯片可以不配置 -->
        <service
            android:name="com.cypress.cysmart.BLEConnectionServices.BluetoothLeService"
            android:enabled="true" />

        <receiver android:name="com.cypress.cysmart.OTAFirmwareUpdate.OTAResponseReceiver">
            <intent-filter>
                <action android:name="com.cysmart.bluetooth.le.ACTION_OTA_DATA_AVAILABLE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cypress.cysmart.BLEStatusReceiver">
            <intent-filter>
                <action android:name="com.veclink.bluetooth.ACTION_GATT_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.SplashActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wristband" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VerifyCodeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindDeviceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SleepQualityActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterSuccessActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddUserInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" ></activity>

        <!-- 适配7.0传递文件到外部程序 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.slogan.wristband.wristband.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".activity.HeartRateActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".activity.HeartRateTipActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.HeartRateTestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.HeartRateFirstTestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.BloodPressureActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.BloodPressureTestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BloodPressureFirstTestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BloodOxygenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BloodOxygenFirstTestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BloodOxygenTestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ElectricActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>